<div class="story-container">
  <h3>Editing memory {{ title }}</h3>

  <form {{ action 'update' this on='submit' }}>
    {{#if isSaving }}
      <p><b>Saving...</b></p>
    {{/if}}

    <p>
      {{ input type="text" value=title }}
    </p>

    <p>
      {{ textarea value=body }}
    </p>

    <button>Update</button>
  </form>
</div>