<!DOCTYPE html>
<html>
  <head>
    <title>Rails Ember Example</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Codystar|Lobster|Titillium+Web:400,300,200|Megrim' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <%= javascript_include_tag "application" %>
  </body>
</html>
