<div class="container main">
  <h1 class="main-title">Random Access Memories</h1>
  {{ outlet }}
</div>

<footer>
  <div class="container">
    Created and designed by <a href="https://github.com/gnuwilliam">William Oliveira</a>
  </div>
</footer>