<h2 class="memories-title">Memories</h2>

<ul>
  {{#each}}
    <li>
      {{#link-to 'story' this }}
        {{ title }}
      {{/link-to}}
      <button {{ action 'delete' this }}>X</button>
    </li>
  {{/each}}
</ul>

<p>{{#link-to 'stories.new' }}Create a new story{{/link-to}}</p>

{{ outlet }}